*{
    margin: 0;
    padding: 0;
    font-family: "Poetsen One", sans-serif;;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/*MENU DE NAVEGACION*/

.nav-ul {
    display: flex;
    justify-content: flex-end;
    background-color: #ff76ce;
}

.menu-navegacion li a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    width: 100%;
    height: 100px;
    background-color: #ff76ce;
    font-size: 20px;
    color: white;
    margin-right: 10px;
}

.menu-navegacion .link-nav-select {
    display: block;
    align-content: center;
    background-color: white;
    color: #ff76ce;
    border-radius: 20px;
    line-height: 1px;
    height: 5px;
    padding: 20px;
    margin-top: 30px;
    margin-right: 10px;  
}

.link-nav-select a:hover {
    background-color:#c56c9f; 
}

/*SECCION SOBRE MI*/

.contenedor-saludo {
    max-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.contenido-saludo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    max-width: 100%;
    font-size: 30px;
    width: 197px;
}

.informacion {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 197px;
}

.titulo-saludo {
    font-size: 40px;
    margin-top: 0;
    font-weight: 800;
    color: rgb(112, 112, 112);
    margin-block-end: 5px;
    line-height: 42px;
    text-align: left;
}

.titulo-nombre {
    display: block;
    margin-top: 20px;
    color: #ff76ce;
    font-size: 60px;
    font-weight: 900;
    line-height: 54px;
    text-align: left;
    margin-block-end: 5px;
}

.descripcion-saludo {
    display: block;
    padding-top: 15px;
    line-height: 21.5px;
    margin-bottom: 40px;
    margin-block-end: 40px;
    margin-block-start: 16px;
    text-align: left;
    color: #616161;
    font-size: 16px;
}

.boton {
    background-color: #ff76ce;
    margin: 40px;
    color: white;
    padding: 10px 20px;
    border-radius: 100px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 150px;
    cursor: pointer; 
}

.boton:hover {
    background-color: #f9aae1;
}

.imagen-programadora {
    height: 350px;
}

/*SECCION MIS CONOCIMIENTOS */

.seccion-mis-conocimientos {
    background-color: #ffd4f3;
    padding: 80px 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.contenedor-mis-conocimientos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    padding: 50px;
    display: block;
    font-size: 60px;
    font-weight: 900;
    color: rgb(112, 112, 112);
    margin-bottom: 0.375em;
    line-height: 1.2;
}

.descripcion {
    color: rgb(112, 112, 112);
    padding: 0;
    font-size: 20px;
}

.contenedor-habilidades {
    display: flex;
    flex-wrap: wrap;
    padding:110px 40px 130px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    text-align: center;
}

.item-habilidad {
    width: 280px;
    height: 280px;
    padding: 10px;
    margin: 10px;
    color: rgb(122, 122, 122);;
    background-color: #f0eeee;
    border: 1px solid #dddfe5;
    border-radius: 8px;
    box-shadow: 5px 5px 5px #bebdbd;
    cursor: pointer;
}

.item-habilidad:hover {
    background-color: #fcc2ea;
    
}

.icono {
    padding-top: 50px;
    width: 150px;
    height: 150px;
}

.titulo-habilidad {
    margin-top: 40px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;    
}

/*SECCION CITA*/

.contenedor-cita {
    padding: 80px 20px;
    background-color: #ff76ce;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}

.contenido-cita {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texto {
    line-height: 1.4;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 20px;
    color: white;
}

.icono-muñequita {
    background-color:#ff76ce;
    height: 100px;
    width: 100px;
}

/*SECCION MIS PROYECTOS*/

.mis-proyectos {
    display: flex;
    justify-content: center;
    text-align: center;
}

.contenido-mis-proyectos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffd4f3;
}

.Titulo-mis-proyectos {
    padding: 50px;
    display: block;
    font-size: 60px;
    font-weight: 900;
    color: rgb(112, 112, 112);
    line-height: 1.4;
    margin-bottom: 20px;
    margin-top: 70px;
}

.parrafo-mis-proyectos {
    color: rgb(112, 112, 112);
    font-size: 20px;
}

.parrilla-proyectos {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    justify-content: space-between;
    margin-bottom: 120px;
    margin-left: 80px;
    margin-right: 80px;    
}

.Titulo-proyectos {
    display: block;
    font-size: 20px;
    font-weight: 100;
    margin-top: 20px;
    line-height: 1.4;
    color: rgb(112, 112, 112);    
}

.imagen-proyecto {
    display: block;
    height: 300px;
    width: 300px;
    box-shadow: 5px 5px 5px #bebdbd;
}

.project {
    color: rgb (184, 182, 182);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ff76ce;
    background-color: #fdfbfb;
    border-radius: 8px;
    padding: 20px;
    margin: 0.75em;
}

.project:hover {
    background-color: #f7e0ef;

}

/*SECCION CONTACTO*/

.columna-contacto { 
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100vh;
    background-color: #f9aae0;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 15px 15px 15px 15px;  
}

.contenedor-contact-form { 
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 50vh;
}

.container-box-form { 
    height: 50vh;
    display: flex;
    flex-direction: column;
    color: rgb(112, 112, 112);      
}

.titulo-contactame {
    margin-bottom: 30px;
    display: block;
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    margin-bottom: 25px;
    text-align: left;
    color: rgb(112, 112, 112);
}

.parrafo-descripcion {
    max-width: 400px;
line-height: 1.4;
display: block;
text-align: left;
font-size: 16px;
color: rgb(112, 112, 112);
}

.contacto-link-social {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin-top: 40px;
    text-align: left;
    list-style: none;
}

.contacto-social-item {
    display: flex;
    margin-bottom: 10px;
    font-size: 16px;
    list-style: none;
    margin-bottom: 10px;
    text-align: left;
    width: 280px;
}

.iconos {
    cursor: pointer;
    display: block;
    font-weight: 400;
    height: 35px;
    width: 35px;
    margin-right: 10px;
    text-align: center;
    border-radius: 50%;
    background-color: white;
}

/*SECCION FORMULARIO*/

.container-box-form {
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 300px;   
}

.titulo-escribeme {
    font-size: 40px;
    font-weight: 900;    
}

.box-name-surname {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.legend {
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 8px;
}

.box-name-surname input{
    padding: 5%;
    border: 1px solid #ea8dd8;
    border-radius: 20px;
    outline: 1px solid #ea8dd8;
    display: flex;
    flex-direction: column;
}  
    
.box-name-surname label{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.box-email-message {
    display: flex;
    flex-direction: column;
}

.texto-email {
    /* margin-top: 15px; */
    margin-bottom: 15px;
    border: 1px solid #ea8dd8;
    border-radius: 20px;
    outline: 1px solid #ea8dd8 ;
    height: 30px;
    /* padding-right: 4px; */
}

.texto-mensaje {
    border: 1px solid #ea8dd8;
    border-radius: 20px;
    outline: 1px solid #ea8dd8 ;
    /* margin-top: 15px; */
    margin-bottom: 15px;
    padding: 5px;
}

.box-email-message label {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.input {
    border: 1px solid #ea8dd8;
    border-radius: 20px;
    outline: 1px solid #ea8dd8 ;
}

#text-tarea {
    border: 1px solid #ea8dd8;
    outline: 1px solid #ea8dd8;
    width: 190px;
}

#send{
    width: 80px;
    font-weight: bold;
    margin-top: 15px;
    padding: 8px;
}

.boton-submit {
    color: rgb(112, 112, 112);
    border-radius: 15px;
    border: 3px solid #ea8dd8;
    cursor: pointer;
}

/*Seccion-Footer*/

.pie-de-pagina {
    max-width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #ff76ce;
}

.footer-navegacion ul {
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer-navegacion ul li a {
    padding: 20px;
    color: white;
}

.footer-redes-links {
    display: flex;
    justify-content: center;
}

.footer-redes-links li img {
    width: 50px;
}

.footer-redes-links li a {
    padding: 20px;
}

.hecho-con-amor {
    display: flex;
    justify-content: center;
    color: white;
}

/*Responsive*/


@media (max-width: 768px) {
    .contenedor-saludo {
        display: flex;
        flex-direction: column;
    }

    .titulo-saludo {
        margin-top: 50px;   
    }

    .titulo-escribeme {
        padding-top: 50px;
    }

    .columna-contacto{
        height: 100vh;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 580px) {

    /*Intento realizar menu hamburguesa pero no se me da*/
    .menu-navegacion {
        display: flex;
        justify-content: flex-end;
    }

    .menu-botones .apertura {
        display: block;
        background-image: url(./imagenes/Bars4.svg);
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
    }

    .menu-botones .cierre {
        display: none;
        background-image: url(./imagenes/XCircle.svg);
        background-repeat: no-repeat;
    }

    #menu:target .menu-botones .apertura {
        display: none;
    }

    #menu:target .nav-ul {
        display: none;
    }

    /*Fin menu hamburguesa*/

    .contenedor-saludo {
        height: 100vh;
    }
    .contenedor-menu-1 {
        display: flex;
        justify-content: flex-end;
    }
    
    .contenedor-habilidades {
        padding-bottom: 50px;
    }

    .imagen-proyecto {
        height: 150px;
        width: 150px;
    }

    .Titulo-mis-proyectos {
        font-size: 30px;
    }

    .box-name-surname input{
        width: 120px;
    }

    .menu-navegacion {
        flex-direction: column;
        justify-content: center;
        margin: 0;
        list-style: none;
        text-decoration: none;
        color: white;
    }

    .menu-navegacion li a {
        line-height: 0;
        padding: 11px;
        text-decoration: none;
        color: white;
    }

    .menu-navegacion .link-nav-select a{
        color: white;
        text-decoration: none;
        border-radius: 0;
        line-height: 0;
        background-color: #FF79CF;
    }

    .titulo {
        padding: 0;
        font-size: 40px;
    }

    .titulo-contactame {
        justify-content: center;
        align-items: center;
    }

    .titulo-saludo {
        text-align: center;
    }

    .titulo-nombre {
        text-align: center;
    }
    .descripcion-saludo {
        text-align: center;
    }
    .boton {
        justify-content: center;
    }

    .columna-contacto {
        background-color: white;
        
    }

    .container-box-form {
    padding-top: 40px;
    }


    .footer-navegacion ul {
        flex-direction: column;
        align-items: center;
    }

    .footer-navegacion ul {
        gap: 10px;
    }

    .footer-redes-links li img {
        height: 35px;
        width: 35px;
    }
}


